.thumbnail {
	width: 100%;
	max-width: 150px;
	height: 150px;
}

/*these are the logos for my social networks*/
.social {
	width: 35px;
	height: 35px;

}
#connect {
	text-align: center;

}

p {
	text-align: justify;
}

#portflicks {
	width: 100%;
	max-width: 274px;
	height: 218px;

}

#form {
	height: 600px;
}

